body {
  background-color: hsl(212, 45%, 89%);
  padding: 0;
  margin: 0;
}

.container {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 15px;
  text-align: center;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-code-wrapper {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 10px 20px hsla(213, 23%, 16%, 0.2);
  padding: 15px;
  width: 250px;
}

img {
  display: block;
  width: 100%;
  border-radius: 15px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  color: hsl(218, 44%, 22%);
  margin: 20px 0 10px 0;
}

.description {
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
  line-height: 1.5;
}
